body {
    background-color: #000000;
    color: lightgray;
    font-size: 28px;
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
}

#container {
    width: 900px;
    margin: auto;
}

#board {
    width: 900px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 40px;
    min-height: 60px;
}

#gallows {
    float: left;
    width: 450px;
    text-align: center;
    min-height: 280px;
}

#alphabet {
    float: left;
    width: 450px;
    text-align: center;
    min-height: 280px;
}

#win-text {
    font-size: 40px;
    color: #00C000;
}

#loss-text {
    font-size: 40px;
    color: #C00000;
}

.letter {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 3px solid gray;
    float: left;
    cursor: pointer;
    border-radius: 15px;
}

.letter:hover {
    background-color: #222222;
    color: #ffffff;
    border: 3px solid #ffffff;
}

.reset {
    color: deepskyblue;
    cursor: pointer;
    font-size: 48px;
}

.reset:hover {
    color: white;
}

#language_choose {
    text-align: right;
}

.language:link {
    color: lightgray;
    background-color: transparent;
    text-decoration: none;
}

.language:visited {
    color: lightgray;
    background-color: transparent;
    text-decoration: none;
}

.language:hover {
    color: white;
    cursor: pointer;
}